window {
    margin: 0px;
    border: 2px solid #504945;
    background-color: rgba(64, 69, 69, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#input {
    margin: 6px;
    border: none;
    color: #ebdbb2;
    border-radius: 4px;
    padding: 8px;
    font-size: 24px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

#scroll {
    padding: 10px;
}

#entry {
    padding: 8px 10px;
    border-radius: 4px;
    color: #ebdbb2;
    font-size: 18px;
}

#entry:selected {
    color: #83a598;
}

#text {
    margin: 2px;
    color: inherit;
}

