* {
    font-family: "Fira Code Nerd Font";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
    padding: 4px 12px;
    margin: 20px 40px 0 40px;
}

#window {
    margin: 0 6px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 300px;
}

#workspaces button {
    border-radius: 10px;
    padding: 2px 6px;
    margin: 4px 4px;
    background: rgba(64,69,69,0.85);
}

#workspaces button.focused {
    background-color: rgba(64,69,69,0.95);
    color: #83a598;
}

#workspaces button.active {
    background-color: rgba(64,69,69,0.95);
    color: #458588;
}

#clock, #pulseaudio, #network, #battery {
    margin: 4px 4px;
    padding: 2px 6px;
    border-radius: 10px;
    background: rgba(64,69,69,0.85);
}

#custom-vpn {
    color: #b16286;
    border-radius: 12px;
    padding: 0 8px;
    background-color: rgba(64,69,69, 0.85);
}

button:hover {
    background: rgba(64,69,69,0.9);
    color: #83a598;
}

